<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
 <mapper namespace="com.marondalgram.comment.dao.CommentDAO">
 	<insert id="insertComment" parameterType="map">
 		INSERT INTO `comment`
 		(
 			`postId`
 			, `userId`
 			, `comment`
 			, `createdAt`
	 		, `updatedAt`
 		)
 		VALUES
 		(
 			#{postId}
 			, #{userId}
 			, #{comment}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	
 	<select id="selectCommentList" resultType="com.marondalgram.comment.model.Comment">
 		SELECT
 			`id`
 			,`postId`
			,`userId`
			,`comment`
			,`createdAt`
			,`updatedAt`
		FROM
			`comment`
		WHERE
			`postId` = ${postId}	
 	</select>
 	
 	<delete id="deleteComment" parameterType="int">
 		DELETE
		FROM
			`comment`
		WHERE
			`id` = #{id}
 	</delete>
 </mapper>