@charset "UTF-8";

/* a {display:none;} */

/* user(sign in/ up) */

#logo {color:#000000; font-weight:bold; font-size:30px;}

#signup {color:#d0d0d0;}
#idCheckHref {color:#d0d0d0;}

#wrap {margin: auto; height:1000px; width: 1200px;}

header {height: 100px;}

.signin {height: 500px;}
.signup {height: 500px;} 


/* timeline */ 

header #timelineHeader {height: 50px;}

#timelineLogo {color:#000000; font-weight:bold; font-size:20px;}
#signinHref {color:#d0d0d0;}
#myprofile {color:#d0d0d0;}

/* profile */

#profileSection {width: 600px;}
